SP_CLUSTER_NAME={{ sp_cluster_name }}
SP_CLUSTER_ID={{ sp_cluster_id }}
SP_EXPECTED_NODES=1

SP_RAUTH_TOKEN={{ sp_rauth_token }}

SP_AUTH_TOKEN={{ sp_auth_token }}

{% for storpool_node_name in groups['storpool'] %}
{% set node = hostvars[storpool_node_name] %}
{% set node_ip = node.openstack.addresses[sp_storage_network_name][0]['addr'] %}
[{{ node.ansible_facts.hostname }}]
SP_OURID={{ node_ip | split('.') | last }}
{% for interface in node.ansible_interfaces %}
{% if 'ipv4' in node.ansible_facts[interface] %}
{% if node.ansible_facts[interface].ipv4.address == node_ip %}
SP_IFACE1_CFG=1:{{ node.ansible_facts[interface].device }}:{{ node.ansible_facts[interface].device }}:0:{{ node.ansible_facts[interface].ipv4.address }}:b:x:v
{% elif 'macaddress' in node.ansible_facts[interface] and storpool_node_name in groups['storpool_iscsi'] %}
SP_ISCSI_IFACE={{ node.ansible_facts[interface].device }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
